<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SinkDNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SinkDNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SinkDNS.Properties.Settings>
            <setting name="BlocklistFolderLocation" serializeAs="String">
                <value>hostfiles/blocklist</value>
            </setting>
            <setting name="WhitelistFolderLocation" serializeAs="String">
                <value>hostfiles/whitelist</value>
            </setting>
            <setting name="BlocklistIniLocation" serializeAs="String">
                <value>config/blocklist.ini</value>
            </setting>
            <setting name="WhitelistIniLocation" serializeAs="String">
                <value>config/whitelist.ini</value>
            </setting>
            <setting name="UserBlocklistIniLocation" serializeAs="String">
                <value>config/userblocklist.txt</value>
            </setting>
            <setting name="UserWhitelistIniLocation" serializeAs="String">
                <value>config/userwhitelist.txt</value>
            </setting>
            <setting name="CombinedBlocklistFileLocation" serializeAs="String">
                <value>hostfiles/blocklist/combined-blocklist.txt</value>
            </setting>
            <setting name="CombinedWhitelistFileLocation" serializeAs="String">
                <value>hostfiles/whitelist/combined-whitelist.txt</value>
            </setting>
            <setting name="LogsFolderLocation" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="ConfigFolderLocation" serializeAs="String">
                <value>config</value>
            </setting>
            <setting name="ResolversFolderLocation" serializeAs="String">
                <value>resolvers</value>
            </setting>
            <setting name="HostFilesFolderLocation" serializeAs="String">
                <value>hostfiles</value>
            </setting>
            <setting name="BackupFolderLocation" serializeAs="String">
                <value>backup</value>
            </setting>
            <setting name="TaskSchedulerIniLocation" serializeAs="String">
                <value>taskschedules/taskscheduler.ini</value>
            </setting>
            <setting name="TaskScheduleFolderLocation" serializeAs="String">
                <value>taskschedules</value>
            </setting>
        </SinkDNS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SinkDNS.Properties.Settings>
            <setting name="EnableDiskLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogExpiryInDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PendingDNSCryptRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DNSCryptInstallationLocation" serializeAs="String">
                <value>C:\Program Files\dnscrypt-proxy</value>
            </setting>
            <setting name="TraceLoggerThreshold" serializeAs="String">
                <value>Information</value>
            </setting>
            <setting name="DisableDNSCryptRestartWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartDNSCryptAfterUpdatingLists" serializeAs="String">
                <value>True</value>
            </setting>
        </SinkDNS.Properties.Settings>
    </userSettings>
</configuration>