name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore SinkDNS.slnx
      working-directory: ./SinkDNS

    - name: Build
      run: dotnet build SinkDNS.slnx --configuration Release --no-restore
      working-directory: ./SinkDNS

    - name: Test
      run: dotnet test SinkDNS.slnx --no-build --verbosity normal
      working-directory: ./SinkDNS
